.modal {
	text-align: center;
}

@media screen and (min-width: 768px) { 
	.modal:before {
		content: " ";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
}
  
.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.app-list .app {
	border-radius: 8px;
	display: inline-block;
	margin: 15px 15px 0 25px;
	max-width: 100px;
	text-align: center;
	width: 100px;	
}

.app-list a {
	text-decoration: none;
}

.app img {
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 5px;
	width: 80px;
}

.app-select {
	width: 100%;
}

.app-select img{
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	width: 100%;
}

.modules-menu {
	min-width: 200px;
}

.side-menu .btn {
	border: 0;
	margin: 1px 0 0 0 !important;
	text-align: left;
}

.side-menu .btn i {
	margin-right: 10px;
}

tbody tr {
	height: 60px;
}

th, td {
	vertical-align: middle !important;
}

.dataTable  .form-control {
	border-radius: 3px;
	display: inline-block;
	padding: 5px 10px;
	vertical-align: middle;
	width: auto;
}

.input-sm {
	font-size: 12px;
	height: 30px;
	line-height: 30px;
}

.dataTables_length {
	float: left;
}

.dataTables_filter {
	float: right;
	text-align: right;
}

.dataTables_processing {
	background: #00000088;
	font-size: 1.2em;
	height: 100%;
	left: 0;
	margin-left: 0;
	margin-top: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;    
	z-index: 99999;
}

.dataTables_processing .modal-content {
	left: 60%;
	margin-left: -50%;
	position: absolute;
	top: 40%;
	width: 80%;    
}

.loader {
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	border: 1px solid #fff;
	border-bottom: 1px solid rgb(92, 184, 92);
	border-radius: 50%;
	border-top: 1px solid rgb(92, 184, 92);
	display: inline-block;
	height: 28px;
	margin-bottom: 6px;
	margin-right: 6px;
	vertical-align: middle;
	width: 28px;
}
  
/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.newapp {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 100px;
}
.newapp .panel-body {
	margin-left: 50px; 
	margin-right: 20px;
}

.newapp .dataTables_processing .modal-content {
	left: 85%;
	margin-left: -50%;
	position: absolute;
	top: 30%;
	width: 30%;    
}

.newapp .dataTables_processing .modal-content .modal-header {
	padding-bottom: 60px;
	padding-top: 80px;
}

.description {
	border-radius: 4px !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 40px;
	overflow: hidden;
}

.panel-heading a {
	display: inline-block;
	text-decoration-line: none;
	width: 100%;
}

.panel-heading a:after {
	color: white;
	content:"\e114";
	float: right;
	font-family:'Glyphicons Halflings';
}

.panel-heading a.collapsed:after {
    content:"\e080";
}


/*------------------------------------------------------------------------------
Gear Loader  / prefixfree
---------------------------------------------------------------------------------*/

.block {
	background: #c33;
	border-bottom:2px solid #333;
	padding: 80px 0;
	width: 100%;
}
.block-in {
	margin: 80px auto;
	overflow:hidden;
	width: 300px;
}

.gear {
	border: 5px solid #fff;
	border-radius: 10%;
	box-shadow: 0 10px 0 0 rgba(0, 0, 0, .1);
	height: 80px;
	margin: 30px auto;
	position: relative;
	width: 80px;
}

.gear:after{
	animation: gear 6s linear infinite;
	border: 5px dashed #fff ;
	border-radius: 100%;
	box-shadow: inset 0 0 0 20px #fff;
	content: "";
	display: block;
	height: 100px;
	left: -24px;
	position:absolute;
	top: -24px;
	transform: scale(.5) rotate(0deg);
	width: 100px;
}


.gear:before{
	animation:gear2 4s linear infinite;
	border:5px dashed #fff;
	border-radius:100%;
	box-shadow: inset 0 0 0 10px #fff;
	content:"";
	display:block;
	height: 58px;
	position:absolute;
	right: -14px;
	top:26px;
	transform:scale(.5) rotate(0deg);
	width: 58px;
}


@keyframes gear {
   0%{transform:scale(.5) rotate(0deg);}
  100%{transform:scale(.5) rotate(360deg);}
}


@keyframes gear2 {
   0%{transform:scale(.5) rotate(0deg);}
  100%{transform:scale(.5)  rotate(-360deg);}
}

.modal-title {
	font-weight: bold;
}

.modal-danger .modal-content {
	background-color: #d9534f;
}

.modal-danger .modal-header, 
.modal-danger .modal-footer {
	background-color: #b84844;
}
