<section>
  <div class="jumbotron text-center blue-background">
    <div class="row">
      <img alt="GoonChat Admin" class="text-center" src="/modules/core/client/img/brand/icon.png" />
    </div>
    <br>
    <div class="row">
      <p class="lead">
        <h1>Welcome to GoonChat Admin</h1>
      </p>
    </div>    
  </div>
  <br>The GoonChat Communication DevTeam
</section>
