@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-add-remove-account {
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 10px;
}
.user-profile-picture {
  height: 150px;
  width: 150px;
}
.social-button {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.social-button:hover {
  opacity: 0.65;
}

#particles-js{
    width: auto;
    height: auto;
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    top: 40px;
    bottom: -100px;
    left: -100px;
    right: -100px;
    z-index:1;
}

#login-row{
  background-color: #2b3e50;
  padding: 15px 35px;
  z-index: 9999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
