<section>
    <!-- <div class="page-header">
      <h1>{{vm.application._id ? 'Edit Application' : 'New Application'}}</h1>
    </div> -->
    <form name="vm.form.applicationForm" class="form-horizontal newapp" novalidate>
      <fieldset>

        <div class="description panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">
                <a>New Application</a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <p>
                Please fill in below fields,
              </p>
              <div class="form-group" show-errors>
                <label class="control-label" for="name">Name(*)</label>
                <input name="name" type="text" ng-model="vm.application.name" ng-blur="vm.buildNewAppID()" id="name" class="form-control" placeholder="Application Name" required autofocus>
                <div ng-messages="vm.form.applicationForm.name.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Application name is required.</p>
                </div>
              </div>
              <!-- <div class="form-group" show-errors>
                <label for="appid">App ID</label>
                <input type="text" id="appid" name="appid" class="form-control" ng-model="vm.application.appid" placeholder="Application ID" lowercase required>
                <div ng-messages="vm.userForm.appid.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Application ID is required.</p>
                </div>
              </div> -->
              <div class="form-group" show-errors>
                <label class="control-label" for="name">Description</label>
                <input name="name" type="text" ng-model="vm.application.description" id="description" class="form-control" placeholder="Description">
              </div>                
              <div class="form-group" show-errors>
                <label class="control-label" for="name">FCM Key</label>
                <input name="name" type="text" ng-model="vm.fcm" id="fcm" class="form-control" placeholder="FCM Server Key">
              </div>                
            </div>
          </div>
        </div>

        <p class="text-right">
            <a class="btn btn-warning" ng-click="vm.create()">Create</a>
            &nbsp;
            <a class="btn btn-default" onclick="window.history.back()">Cancel</a>
        </p>

        <div class="dataTables_processing" ng-show="vm.isloading">
          <div class="modal-content">
            <div class="modal-header">
              <h2>{{vm.processing_msg}}</h2>
              <div class="gear"></div>               
              <div><br/>Please wait a while.</div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </section>

    <!-- Modal -->
    <div class="modal fade" id="modalEmptyAppName" role="dialog">
        <div class="modal-dialog">    
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Application Name</h4>
            </div>
            <div class="modal-body">
              <p>Please fill Name field for your applicaiton.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
            </div>
          </div>      
        </div>
      </div>
    </section>