<section>
  <div class="page-header">
    <h1> {{vm.application.name}} / Locations</h1>
  </div>
  <div class="description panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
          <a data-toggle="collapse" data-target="#collapseOne">Description</a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
          IP address is the latest ip address that user connected to the server.<br/>
          Location is geo-location from user's IP address. That is not the real location of user.<br/>
          Click on user locaiton to check on the map.
      </div>
    </div>
  </div>
  <div class="dataTable">
    <div class="dataTables_length" id="users_list_length">
      <label>
        <select class="form-control input-sm" 
          ng-model="vm.itemsPerPage"
          ng-init="vm.itemsPerPage=vm.itemsCounts[0]"
          ng-change="vm.itemsPerPageChanged()"
          ng-options="option for option in vm.itemsCounts">
        </select> records per page
      </label>
    </div>
    <div class="dataTables_filter">
      <label>Search: <input type="search" 
        class="form-control input-sm"
        ng-model="vm.search"
        ng-keyup="$event.keyCode == 13 ? vm.onSearch() : null"
        placeholder=""
        aria-controls="users_list"></label>
    </div>
    <div class="dataTables_processing" ng-show="vm.isloading">
      <div class="modal-content">
        <div class="modal-header"><div class="loader"></div>Processing...</div>
      </div>
    </div>
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Login</th>
          <th scope="col">Email</th>
          <th scope="col">IP Address</th>
          <th scope="col">Location</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in vm.users"
          ng-click="vm.addMarker(user)"
          style="cursor: pointer;">
          <th scope="row">{{user.id}}</th>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.ipAddress}}</td>
          <td>{{user.location}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="map" ng-init="vm.initMap()" style="height: 300px;"></div>

  <uib-pagination boundary-links="true" max-size="8" 
    items-per-page="vm.itemsPerPage" 
    total-items="vm.filterLength" 
    ng-model="vm.currentPage" 
    ng-change="vm.pageChanged()">
  </uib-pagination>
</section>
