<section>
  <div class="page-header">
    <h1> {{vm.application.name}} / Push Notification</h1>
  </div>
  <div class="description panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
          <a data-toggle="collapse" data-target="#collapseOne">Description</a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
          Push Notification use FCM for push notification service. When new message arrive to users, if user is off-line the server will push notifications to your users.
          <br/><br/>
          <b>How to get FCM Server Key?</b><br/>
          <div style="padding-left: 10px">
            1. Open <a href="https://console.firebase.google.com/" target="_blank">Firebase console</a> page.<br/>
            2. Open your project in the list.<br/>
            3. Click setting icon in the left side menu to open project setting.<br/>
            4. Go to the CLOUD MESSAGING tab.<br/>
            5. Copy the token value for <b>Server key</b>
          </div>
      </div>
    </div>
  </div>

  <h3>Server Info</h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <tbody>      
        <tr>
          <td>Firebase Cloud Message</td>
          <td><input type="text" ng-model="vm.server_key" class="form-control" placeholder="FCM Server Key"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-right">
    <button type="button" ng-click="vm.save(true)" class="btn btn-warning">
      <i class="glyphicon glyphicon-floppy-open"></i> Update
    </button>
  </div>

  <h3>Send Notification To All users</h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <tbody>      
        <tr>
          <td>Title</td>
          <td><input type="text" ng-model="vm.push.title" class="form-control" placeholder="Title"></td>
        </tr>
        <tr>
          <td>*System Message</td>
          <td><input type="text" ng-model="vm.push.message" class="form-control" placeholder="System Message"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-right">
    <button type="button" ng-click="vm.onSendPush()" class="btn btn-warning">
      <i class="glyphicon glyphicon-bullhorn"></i> Send
    </button>
  </div>

  <h3>Test Push Notification</h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <tbody>      
        <tr>
          <td>*FCM Token</td>
          <td><input type="text" ng-model="vm.test.token" class="form-control" placeholder="Device Token String"></td>
        </tr>
        <tr>
          <td>Title</td>
          <td><input type="text" ng-model="vm.test.title" class="form-control" placeholder="Title"></td>
        </tr>
        <tr>
          <td>*Message</td>
          <td><input type="text" ng-model="vm.test.message" class="form-control" placeholder="Your Message"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-right">
    <button type="button" ng-click="vm.onSendTest()" class="btn btn-warning">
      <i class="glyphicon glyphicon-bullhorn"></i> Send
    </button>
  </div>

  <!-- <div class="dataTable">
    <div class="dataTables_processing" ng-show="vm.isloading">
      <div class="modal-content">
        <div class="modal-header"><div class="loader"></div>Processing...</div>
      </div>
    </div>
  </div> -->

  <div class="dataTables_processing" ng-show="vm.isloading">
    <div class="modal-content">
      <div class="modal-header">
        <h2>{{vm.processing_msg}}</h2>
        <div class="gear"></div> 
        <div><br/>Please wait a while.</div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="pushModal" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Send Notification</h4>
        </div>
        <div class="modal-body">
          <p>Please fill both fields for System Message</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
        </div>
      </div>      
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="testModal" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Test Push Notification</h4>
        </div>
        <div class="modal-body">
          <p>Please fill both fields for FCM Token and Message</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
        </div>
      </div>      
    </div>
  </div>
</section>
