<section>
  <div class="page-header">
    <h1>Applications</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-body app-list">
      <a ng-repeat="application in vm.applications"
         ui-sref="applications.view.edit({ applicationId: application._id })"
         class="app">
<!--         <small class="list-group-item-text">
          Created on
          <span ng-bind="application.created | date:'mediumDate'"></span>
          by
          <span ng-if="application.user" ng-bind="application.user.displayName"></span>
          <span ng-if="!application.user">Deleted User</span>
        </small> -->
        <img class="shadowed" src="{{application.profileImageURL}}"></img>
        <h4 ng-bind="application.name"></h4>
      </a>
      <a ui-sref="applications.create"
         class="app new">
        <img src="/modules/core/client/img/ic-new-app.png"></img>
        <h4>New app</h4>
      </a>
    </div>
  </div>
<!--   <div class="list-group">
    <a ng-repeat="application in vm.applications"
       ui-sref="applications.view({ applicationId: application._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Created on 
        <span ng-bind="application.created | date:'mediumDate'"></span>
        by
        <span ng-if="application.user" ng-bind="application.user.displayName"></span>
        <span ng-if="!application.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="application.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.applications.$resolved && !vm.applications.length">
    No Applications yet, why don't you <a ui-sref="applications.create">create one</a>?
  </div> -->
</section>
