<section>
  <div class="page-header">
    <h1> {{vm.application.name}} / Users</h1>
  </div>
  <div class="description panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
          <a data-toggle="collapse" data-target="#collapseOne">Description</a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        Users registered in the app are presented in the table. Click on user ID to edit or view additional parameters.
      </div>
    </div>
  </div>

  <!-- Add button -->
  <div class="text-right" style="margin-bottom: 10px;">
    <button type="button" ng-click="vm.showNewUserModal()" class="btn btn-default btn-sm">
      <i class="glyphicon glyphicon-plus"></i> Add new user
    </button>
  </div>

  <div class="dataTable">
    <div class="dataTables_length" id="users_list_length">
      <label>
        <select class="form-control input-sm" 
          ng-model="vm.itemsPerPage"
          ng-init="vm.itemsPerPage=vm.itemsCounts[0]"
          ng-change="vm.itemsPerPageChanged()"
          ng-options="option for option in vm.itemsCounts">
        </select> records per page
      </label>
    </div>
    <div class="dataTables_filter">
      <label>Search: <input type="search" 
        class="form-control input-sm"
        style="width: 200px;"
        ng-model="vm.search"
        ng-keyup="$event.keyCode == 13 ? vm.onSearch() : null"
        placeholder=""
        aria-controls="users_list"></label>
    </div>
    <div class="dataTables_processing" ng-show="vm.isloading">
      <div class="modal-content">
        <div class="modal-header"><div class="loader"></div>Processing...</div>
      </div>
    </div>
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Login</th>
          <th scope="col">Email</th>
          <th scope="col">Full Name</th>
          <th scope="col">Last sign in</th>
          <th scope="col">Created at</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in vm.users">
          <th scope="row"><a href="#" ng-click="vm.editUser(user)">{{user.id}}</a></th>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.firstName}} {{user.lastName}}</td>
          <td>{{user.lastActive}}</td>
          <td>{{user.createdAt}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <uib-pagination boundary-links="true" max-size="8" 
    items-per-page="vm.itemsPerPage" 
    total-items="vm.filterLength" 
    ng-model="vm.currentPage" 
    ng-change="vm.pageChanged()">
  </uib-pagination>
</section>

<div class="modal fade" id="modalNewUser" role="dialog">
  <div class="modal-dialog">    
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New user</h4>
      </div>
      <div class="modal-body">
        <div>
            <label>Profile Image</label>
          <div class="form-group text-center">
            <img ngf-src="vm.fileSelected ? picFile : '/modules/users/client/img/profile/noavatar.png'" alt="{{vm.application.name}}" class="img-thumbnail user-profile-picture" ngf-drop>
          </div>
          <div ng-show="vm.loading" class="form-group text-center">
            <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading image...">
          </div>
          <div ng-show="!vm.fileSelected" class="text-center form-group">
            <button class="btn btn-default btn-file" ngf-select="(vm.fileSelected = true) && (vm.loading = false)" ng-model="picFile" accept="image/*" ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">Select</button>
          </div>
          <div ng-show="vm.fileSelected" class="text-center form-group">
            <!-- <button class="btn btn-primary" ng-click="vm.upload(picFile)">Use This Picture</button> -->
            <button class="btn btn-default" ng-click="vm.fileSelected = false">Cancel</button>
          </div>
          <div ng-show="vm.fileSelected" class="progress text-center">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress}}%" ng-bind="vm.progress + '%'">
              <span class="sr-only">{{vm.progress}}% Complete</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" ng-model="vm.user.username" placeholder="User Name" required autofocus>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="mail" class="form-control" ng-model="vm.user.email" placeholder="Email Address">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" ng-model="vm.user.password">
        </div>
        <div class="form-group">
          <label>Confirm</label>
          <input type="password" class="form-control" ng-model="vm.user.passwordConfirm">
        </div>
        <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control" ng-model="vm.user.firstName" placeholder="First Name">
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" ng-model="vm.user.lastName" placeholder="Last Name">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.addNewUser(vm.fileSelected ? picFile : undefined)">Add</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>      
  </div>
</div>

<div class="modal fade" id="modalEditUser" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit User</h4>
        </div>
        <div class="modal-body">
          <div>
              <label>Profile Image</label>
            <div class="form-group text-center">
              <img ngf-src="vm.fileSelected ? picFile : (vm.user.avatar ? vm.fullPath(vm.user.avatar) : '/modules/users/client/img/profile/noavatar.png')" alt="{{vm.application.name}}" class="img-thumbnail user-profile-picture" ngf-drop>
            </div>
            <div ng-show="vm.loading" class="form-group text-center">
              <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading image...">
            </div>
            <div ng-show="!vm.fileSelected" class="text-center form-group">
              <button class="btn btn-default btn-file" ngf-select="(vm.fileSelected = true) && (vm.loading = false)" ng-model="picFile" accept="image/*" ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">Select</button>
            </div>
            <div ng-show="vm.fileSelected" class="text-center form-group">
              <!-- <button class="btn btn-primary" ng-click="vm.upload(picFile)">Use This Picture</button> -->
              <button class="btn btn-default" ng-click="vm.fileSelected = false">Cancel</button>
            </div>
            <div ng-show="vm.fileSelected" class="progress text-center">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress}}%" ng-bind="vm.progress + '%'">
                <span class="sr-only">{{vm.progress}}% Complete</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" ng-model="vm.user.username" placeholder="User Name" required autofocus>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="mail" class="form-control" ng-model="vm.user.email" placeholder="Email Address">
          </div>
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" ng-model="vm.user.firstName" placeholder="First Name">
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" ng-model="vm.user.lastName" placeholder="Last Name">
          </div>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="vm.saveUser(vm.user0, vm.user, vm.fileSelected ? picFile : undefined)">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>      
    </div>
  </div>