<page-view-application class="row">
  <div class="col-sm-3 col-nav modules-menu">
    <div class="app-select">
      <img src="{{vm.application.profileImageURL}}"></img>
    </div>
    <div class="side-menu">
      <!-- -->
      <a class="btn btn-block text-left" ng-class="{'btn-success': item.active, 'btn-default': !item.active}" ng-repeat="item in vm.sidemenu.items" ng-click="vm.go(item)"><i class="{{item.icon}}"></i> {{item.title}} </a>
    </div>
  </div>
  <div class="col-sm-9">
    <div ui-view></div>
  </div>

</page-view-application>
