<div class="page-header">
  <h1 ng-bind="vm.application.name"></h1>
</div>  
<div class="pull-right"
      ng-show="vm.application.isCurrentUserOwner">
  <small>
    <em class="text-muted">
      Created on
      <span ng-bind="vm.application.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.application.user"
            ng-bind="vm.application.user.displayName"></span>
      <span ng-if="!vm.application.user">Deleted User</span>
    </em>
  </small>
  <!-- <a class="btn btn-primary"
      ui-sref="applications.edit({ applicationId: vm.application._id })">
    <i class="glyphicon glyphicon-edit"></i>
  </a>
  <a class="btn btn-primary" ng-click="vm.remove()">
    <i class="glyphicon glyphicon-trash"></i>
  </a> -->
</div>

<p></p>

<h3>Credentials</h3>  
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-md-2">field</th>
        <th class="col-md-5">value</th>
        <th class="col-md-1">actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>App ID</td>
        <td>
          <span id="app-id">{{vm.application.appid}}</span>&nbsp;&nbsp;&nbsp;            
        </td>
        <td>
          <button type="button" class="btn btn-primary btn-sm" ng-click="vm.copyFrom('app-id')")><i class="glyphicon glyphicon-copy"></i> Copy to clipboard</button>
        </td>
      </tr>
      <tr>
        <td>App Key</td>
        <td>
          <span id="app-key">{{vm.application.appkey}}</span>&nbsp;&nbsp;&nbsp;
          
        </td>
        <td>
            <button type="button" class="btn btn-primary btn-sm" ng-click="vm.copyFrom('app-key')")><i class="glyphicon glyphicon-copy"></i> Copy to clipboard</button>
            <!-- <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modalNewKey">New key</button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr>
<h3>Application Info</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <tbody>      
      <tr>
        <td>*Title</td>
        <td><input type="text" ng-model="vm.application.name" class="form-control" placeholder="IP address or domain name of server host"></td>
      </tr>
      <tr>
        <td>Image</td>
        <td>
          <div class="form-group text-center">
            <img ngf-src="vm.fileSelected ? picFile : vm.application.profileImageURL" alt="{{vm.application.name}}" 
              class="img-thumbnail user-profile-picture" ngf-drop>
          </div>
          <div ng-show="vm.loading" class="form-group text-center">
            <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading image...">
          </div>
          <div ng-show="!vm.fileSelected" class="text-center form-group">
            <button class="btn btn-default btn-file" ngf-select="(vm.fileSelected = true) && (vm.loading = false)" ng-model="picFile" accept="image/*" ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">Select Picture</button>
          </div>
          <div ng-show="vm.fileSelected" class="text-center form-group">
            <button class="btn btn-primary" ng-click="vm.upload(picFile)">Use This Picture</button>
            <button class="btn btn-default" ng-click="vm.fileSelected = false">Cancel</button>
          </div>
          <div ng-show="vm.fileSelected" class="progress text-center">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress}}%" ng-bind="vm.progress + '%'">
              <span class="sr-only">{{vm.progress}}% Complete</span>
            </div>
          </div>              
      </tr>
      <tr>
        <td>Description</td>
        <td><textarea ng-model="vm.application.description" class="form-control" placeholder="Description"></textarea></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="text-right">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">
        <i class="glyphicon glyphicon-fire"></i> Delete
    </button>      
      <button type="button" ng-click="vm.save(true)" class="btn btn-warning">
    <i class="glyphicon glyphicon-floppy-open"></i> Update
  </button>      
</div>

<!-- Modal -->
<div class="modal fade" id="modalNewKey" role="dialog">
  <div class="modal-dialog">    
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">App Key</h4>
      </div>
      <div class="modal-body">
        <p>You will lost current app key. Are you okay?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.buildNewAppKey()">Okay</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>      
  </div>
</div>

<hr>

<div class="modal fade" id="modalDelete" role="dialog">
  <div class="modal-dialog modal-danger">    
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Server</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to permanently delete this application?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" ng-click="vm.remove()">Yes</button>
        <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>      
  </div>
</div>

<div class="dataTables_processing" ng-show="vm.isloading">
  <div class="modal-content">
    <div class="modal-header">
      <h2>{{vm.processing_msg}}</h2>
      <div class="gear"></div> 
      <div><br/>Please wait a while.</div>
    </div>
  </div>
</div>