<div>  
  <div id="login-row" class="col-xs-offset-2 col-xs-8 col-md-offset-1 col-md-8">
    <div class="row">    
      <h3>Please login</h3>
      <p style="margin-bottom:30px;">      
        To create your applications, you must login below. If you don't have an account yet, then it's super easy to <a ui-sref="authentication.signup">create a free account.</a>
      </p>
    </div>

    <div class="row">
      <div class="col-md-5 text-center">
        <img alt="GoonChat Admin" src="/modules/core/client/img/brand/icon.png" />
      </div>

      <form name="vm.userForm" ng-submit="vm.signin(vm.userForm.$valid)" class="signin col-md-6" novalidate autocomplete="off">
        <fieldset>
          <div class="form-group" show-errors>
            <uib-alert type="danger" ng-show="vm.error" class="text-center text-danger">
              <span ng-bind="vm.error"></span>
            </uib-alert>
            <label for="usernameOrEmail">Username or Email</label>
            <input type="text" id="usernameOrEmail" name="usernameOrEmail" class="form-control" ng-model="vm.credentials.usernameOrEmail" placeholder="Username or Email" required autofocus>
            <div ng-messages="vm.userForm.usernameOrEmail.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Username or Email is required.</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" placeholder="Password" required>
            <div ng-messages="vm.userForm.password.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Password is required.</p>
            </div>
          </div>
          <div class="text-center form-group">
            <button type="submit" class="btn btn-primary">Log in</button>
            <!-- &nbsp; or&nbsp;
            <a ui-sref="authentication.signup">Sign up</a> -->
          </div>
          <div class="text-center forgot-password">
            <a ui-sref="password.forgot">Forgot your password?</a>
          </div>
          <br />
        </fieldset>
      </form>
  </div>
</div>
<div id="particles-js"></div>

<script type="text/javascript">
  $.getScript("https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js", function(){
      particlesJS('particles-js',
        {
          "particles": {
            "number": {
              "value": 80,
              "density": {
                "enable": true,
                "value_area": 800
              }
            },
            "color": {
              "value": "#ffffff"
            },
            "shape": {
              "type": "circle",
              "stroke": {
                "width": 0,
                "color": "#000000"
              },
              "polygon": {
                "nb_sides": 5
              },
              "image": {
                "width": 100,
                "height": 100
              }
            },
            "opacity": {
              "value": 0.5,
              "random": false,
              "anim": {
                "enable": false,
                "speed": 1,
                "opacity_min": 0.1,
                "sync": false
              }
            },
            "size": {
              "value": 5,
              "random": true,
              "anim": {
                "enable": false,
                "speed": 40,
                "size_min": 0.1,
                "sync": false
              }
            },
            "line_linked": {
              "enable": true,
              "distance": 150,
              "color": "#ffffff",
              "opacity": 0.4,
              "width": 1
            },
            "move": {
              "enable": true,
              "speed": 6,
              "direction": "none",
              "random": false,
              "straight": false,
              "out_mode": "out",
              "attract": {
                "enable": false,
                "rotateX": 600,
                "rotateY": 1200
              }
            }
          },
          "interactivity": {
            "detect_on": "canvas",
            "events": {
              "onhover": {
                "enable": true,
                "mode": "repulse"
              },
              "onclick": {
                "enable": true,
                "mode": "push"
              },
              "resize": true
            },
            "modes": {
              "grab": {
                "distance": 400,
                "line_linked": {
                  "opacity": 1
                }
              },
              "bubble": {
                "distance": 400,
                "size": 40,
                "duration": 2,
                "opacity": 8,
                "speed": 3
              },
              "repulse": {
                "distance": 200
              },
              "push": {
                "particles_nb": 4
              },
              "remove": {
                "particles_nb": 2
              }
            }
          },
          "retina_detect": true,
          "config_demo": {
            "hide_card": false,
            "background_color": "#b61924",
            "background_image": "",
            "background_position": "50% 50%",
            "background_repeat": "no-repeat",
            "background_size": "cover"
          }
        }
      );

  });
</script>